/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'flexvideo.css';



img.aligncenter {
	display: block;
	margin: 0 auto;
}



/* chromeframe error */
.chromeframe {
	background: #a00;
	color: #faa;
	display: block;
	padding: 3px 0;
	text-align: center;
}
.chromeframe a {
	color: #fff;
	text-decoration: underline;
}



.page-header-top-right {
	margin-top: 10px;
}



.pagination {
	margin: 0;
}



.pagination-center {
	text-align: center;
}
.pagination-row {
	margin-bottom: 20px;
}



.required {
	color: #f00;
}



.row-with-vspace {
	margin-bottom: 20px;
}



.site-main .format-aside {
	background: #f5f5f5;
}
.site-main .format-image {
	background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
	background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
	background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
	background: url('../img/content-post-format-video.png') left top no-repeat;
}



.site-title {
	margin-bottom: 0;
	margin-top: 10px;
}
.site-title > a {
	text-decoration: none;
}
.site-title > div {
	height: auto;
	line-height: 18px;
}
.site-title .site-description {
	color: #999;
	font-size: 16px;
}
.site-title .site-title-heading {
	margin: 0;
}



.widget_calendar #wp-calendar {
	margin: 0;
}
.widget_calendar #wp-calendar #next {
	text-align: right;
}



#comments .comment-navigation {
	margin-bottom: 0;
}
#comments .comment-navigation-below {
	margin-bottom: 20px;
	margin-top: 15px;
}
#comments .media-list li .media {
	margin-top: 15px;
}
#comments .media-list li .media .media-body {
	border: 1px solid #eee;
	padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
	font-size: 12px;
	margin-bottom: 10px;
}
#comments .media-list ul.children {
	list-style: none;
	margin-left: 2.5em;
}


#main-column img,
#main-column .wp-video-shortcode {
	display: block;
	height: auto;
	max-width: 100%;
}
#main-column .attachment .entry-content {
	margin-bottom: 20px;
}
#main-column .attachment .entry-content .attachment {
	text-align: center;
}
#main-column .attachment .entry-meta {
	margin-bottom: 20px;
}
#main-column .post,
#main-column .page {
	border: 1px solid #eee;
	margin-bottom: 20px;
	padding: 10px;
}
#main-column .post .entry-header .entry-meta {
	color: #999;
  font-style: italic;
  margin-bottom: 3px;
}
#main-column .post .entry-header .entry-meta a {
	color: inherit;
}
#main-column .post .entry-header .entry-meta .posted-on .updated {
	display: none;
}
#main-column .post .entry-meta .categories-icon {
	cursor: default;
}
#main-column .post .entry-meta .comments-link a {
	color: #333;
}
#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
	color: #555;
	font-size: 12px;
	margin-left: 5px;
}
#main-column .attachment .edit-post-link a, 
#main-column .attachment .entry-meta .edit-post-link a, 
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
	color: #333;
}
#main-column .post .entry-meta .tags-icon {
	cursor: default;
}
#main-column .attachment .entry-title, 
#main-column .post .entry-title,
#main-column .page .entry-title {
	margin-top: 0;
	word-wrap: break-word;
  margin-top: -7px;
}



#sidebar-left .widget,
#sidebar-right .widget {
	border: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
	padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
	font-size: 18px;
	margin-top: 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body{
  font-family: "Verdana", sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #5B5B5F;
}

a {
  color: #193B6B;
}
a:hover {
  color: rgb(72, 185, 201);
}

/*************______________dropdowns___*******/

.navbar-default {
  background-color: #F4F4F4;
  border-color: #E5E5E5;
  background-image: none;
}

.navbar-header{
  margin-bottom: 4px;
}

.navbar-search .search-query {
  font-family: "Verdana", Arial, sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #A9A9A9;
  line-height: 2;
}


.navbar .divider-vertical {
  background-color: #A9A9A9;
  border-right: 1px solid #A9A9A9;
  border: none;
}

.navbar .btn-navbar .icon-bar {
    background-color: #00D3DE;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  color: #002d67;
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 0;
  padding-left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.nav-collapse.collapse {
  background-color: #F4F4F4;
}

ul.navbar-nav > li {
  font-family: "NeoTechRegular";
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.navbar-right {
  float: right;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
.navbar {
  margin-bottom: 18px;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/** for frontpage, when the user not logged **/
#splash #user_info{
  display: none;
}

/*************______________navs___*******/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}
.nav-tabs {
  clear: both;
  border-bottom: 1px solid #A9A9A9;
  margin-bottom: 10px;
}

.nav-tabs > li > a{
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 7px 7px 8px 7px;
  outline: 0;
  margin-top: 5px;
  width: 100%;
  color: #8c8c8c;
  margin-right: 0;
}

.nav-tabs > li > a:hover,.nav-tabs > li > a:focus{
  background-color: transparent !important;
  border: none;
  color: #5B5B5F;
}          

.nav-tabs > li > a i{ 
  display: inline;
}

.nav-tabs > li.active{
  background-color: transparent !important;
  border: none;
  border-bottom: 3px solid #193B6B;
  color: #5B5B5F;
}
.nav-tabs > li.active > a:hover{
  color: #222222 !important;
  background-color: transparent !important;
}

.nav-tabs > li.active a{
  margin-top: 5px;
  padding: 6px 10px 8px 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #222222;
}




/*************______________dropdowns___*******/
.dropdown-menu {
  padding: 0;
  margin: 0;
  border: 2px solid $white;
  border-radius: 0px; 
}
.dropdown-menu .divider {
  background-color: #FDFDFD;
  margin: 0;
  height: 2px;
}
.dropdown-menu > li > a {
  padding: 7px 20px;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
  margin-top: -2px;
  margin-right: 153px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*************______________typography___*******/


@font-face {
  font-family: "NeoTechRegular";
  font-style: normal;
  src: url('../fonts/neotechstd/neotechstd-regular.eot');
    src: url('../fonts/neotechstd/neotechstd-regular.eot') format('embedded-opentype'),
         url('../fonts/neotechstd/neotechstd-regular.woff') format('woff'),
         url('../fonts/neotechstd/neotechstd-regular.ttf') format('truetype'),
         url('../fonts/neotechstd/neotechstd-regular.svg#NeoTechStdMedium') format('svg');
}


@font-face {
  font-family: "NeoTechMedium";
  font-style: normal;
  src: url('../fonts/neotechstd/neotechstd-medium.eot');
    src: url('../fonts/neotechstd/neotechstd-medium.eot') format('embedded-opentype'),
         url('../fonts/neotechstd/neotechstd-medium.woff') format('woff'),
         url('../fonts/neotechstd/neotechstd-medium.ttf') format('truetype'),
         url('../fonts/neotechstd/neotechstd-medium.svg#NeoTechStdMedium') format('svg');
}

/************* header *******/

header.navbar{
  border-bottom: 1px solid #F2F2F2;
  -moz-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  -webkit-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  min-height: 44px;
}
.brand{
  background-repeat: no-repeat;
  height: 37px;
  float: left;
}

.logo-fl-header .brand{
  background-image: url(../img/FIWARE-lab-2x.png);
  width: 150px;
  background-size: 150px 37px;
}

.logo-f-header .brand {
  background-image: url(../img/FIWARE-2x.png);
  width: 123px;
  background-size: 120px 37px;
}

header.navbar .container-fluid{
  max-width: 1200px;
}
.container-fluid .navbar-header{
  margin: 4px 0 0;
}
.navbar-fixed-top{
  background-color: #F1F1F2;
  padding: 0;
}

.navbar-collapse.in .navbar-nav > li:hover{
  background: #E8E8E8;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-toggle {
  font-size: 20px;
  border-color: rgba(0, 0, 0, 0) !important;
  position: relative;
  float: right;
  padding: 0;
  line-height: 0;
  margin: 10px 0 4px;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent
}

nav.container-fluid{
  max-width: 1200px;
  background-image: none;
  padding: 3px 15px 2px;
}
ul.navbar-nav > li:hover {
  background-color: #E8E8E8;
}
.logo-fl-header
.logo-f-header{
  margin-top: 4px;
}

@media (max-width: 480px){

  .brand{
    width: 37px !important;
  }
}



.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #193B6B;
  background-color: #FFF;
}

ul.navbar-nav > li {
  font-family: "NeoTechRegular";
}
#user_info {
  display: inline;
  margin-top: 2px;
}
#profile_editor_switcher {
  margin-top: 9px;
  font-size: 12px;
}
#profile_editor_switcher a img {
  width: 24px;
  margin-top: -1px;
  -moz-border-radius: (2px);
  -webkit-border-radius: (2px);
  border-radius: (2px);
}

@media (min-width: 768px){

  .navbar-fixed-top .navbar-nav > li > a {
    line-height: 0;
    padding-top: 24px;
    padding-bottom: 18px;
    font-size: 14px;
  }
  .navbar-nav>li>a {
    line-height: 0;
    padding-top: 24px;
    padding-bottom: 18px;
    font-size: 14px;
  }
  .navbar-right {
    margin-right: 0px;
  }
}

@media (max-width: 767px){
  .navbar-collapse.in {
    padding-bottom: 20px;
  }
  .navbar-right {
    float: none;
  }
  #user_info {
    display: block;
    margin: 2px 0px 0;
  }
  header .navbar ul.nav{
    margin-top: 0px;
  }
  .nav.navbar-nav{
    margin: 1.5px 0px;
  }
  .logo-header{
    width: 152px !important;
  }
  .brand{
    padding: 0px 4px 0 0px !important;
    float: left !important;
  }
  .dropdown i {
    margin-left: 2px;
  }
  #profile_editor_switcher {
    margin-top: 0;
    padding: 5px;
    border: 5px solid #FAFAFA;
    background: transparent;
  }
  .dropdown-submenu .fa-angle-double-left{
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  #profile_editor_switcher  a{
    background: transparent;
  }
  #profile_editor_switcher .dropdown-menu li:hover{
    background: #E8E8E8;
  }
}
@media (min-width: 768px) and (max-width: 979px){
  header.navbar ul{
    margin-top: 0px    
  }
  .brand{
    padding: 0px 4px 0 0px !important;
    float: left !important;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #193B6B;
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: none;
}
.navbar-default .navbar-nav > a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus {
  background-color: #E8E8E8;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}


/************* footer *******/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer.footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  font-size: 12px;
  border-top: 1px solid rgb(72, 185, 201);
  left: 0;
  right: 0;
}
.footer-main .container-fluid{
  border-top: 1px solid #F2E826;
  border-bottom: 1px solid #193B6B;
  height: 0;
}      
.footer-main .cred{
  padding-top: 12px;
  padding-bottom: 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-main .cred a{
  text-decoration: underline;
}


body > .wrap {
  padding: 60px 15px 30px;
  max-width: 1200px;
}

body.admin-bar > .wrap {
  padding: 24px 15px 30px;
  max-width: 1200px;
}



/* aside */
aside {
margin-top: 9px;
margin-bottom: 0px !important;
}

.twitter{
  height: 375px;
  min-height: 300px;
}
.panel{
  -moz-border-radius:0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.panel-bk-blue-l .panel-heading{
   background-color: #00d3de;
}
.panel-bk-blue-d .panel-heading{
   background-color:  #002759;
}
.panel-bk-orange .panel-heading{
   background-color: #ffb900;
}
.panel-bk-magenta .panel-heading{
   background-color: #FF3566;	
}
.panel-bk-blue-l{
   border-color: #00d3de;
}
.panel-bk-blue-d{
   border-color:  #002759;
}
.panel-bk-orange{
   border-color: #ffb900; 
}
.panel-bk-magenta{
   border-color: #FF3566 !important;  
}
.textwidget .panel-body {
  padding: 7px !important;
}
.panel-heading{
	min-height: 32px;
  margin: 0;
  padding: 0;
  background-image: none !important;
  -moz-border-radius:0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.panel-heading a.help{
  width: 100%;
  float: left;
  padding: 6px 0 0;
  text-decoration: none;
}
.help img {
  max-width: 23px;
  margin: -2px 5px 0px 3px;
  margin-top: -2px;
  float: left;
}
.help h5 {
  float: left;
  margin: 1px;
  color: #fff;
}
.panel-heading i{
  float: right;
  padding: 9px 7px 9px 7px;
  margin-top: -6px;
  background-color: rgba(0, 0, 0, 0.12);
  color: #F5F5F5;
}
#sidebar-right .widget{
  padding: 0px !important;
}
#sidebar-right .widget,
#main-column .post {
  border: none !important;
}

#main-column .post {
  padding: 0 0px 10px 0px !important;
  margin-bottom: 25px !important;
}
#main-column .post h2 a:hover {
  text-decoration: none;
}

.twitter iframe{
  width: 98% !important;
  margin: 0 1% !important;
}
.customisable-border {
    border: 1px solid #888 !important;
}
.help img.help-i {
  margin: -2px 3px 0 -3px;
}

a.help:hover,
div.help:hover {
  background-color: rgba(56, 56, 56, 0.19);
}

.panel-social{
  border: none;
  box-shadow: none;
}
.panel-social .panel-heading{
  background-color: #FFF;
  border: none;
}
.panel-social .btn-default{
    display: inline-block !important;
    height: 31px;
    line-height: 1;
    color: #FFF;
    border-radius: 50%;
    background: #B7B7B7;
    overflow: hidden;
    transition: color .3s;
    padding: 2px 2px 2px 2px;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.panel-social .btn-default:hover,
.panel-social .btn-default:hover i{
  background-color: #666;
  border-color: #666;
}

.btn-group>.btn:last-child {
  margin-right: 0;
}

.panel-social .btn-default i{
  float: none;
  padding: 6px 0 0;
  margin: 0;
  color: #FFF;
  background-color: #B7B7B7;
}
/* aside end */


div#comments {
  display: none;
}

.request button{
  margin-bottom: 20px;
  font-size: 12px;
  width: 100%;
}

.btn-default{
  color: #8C8C8C;
  background-color: #FFF;
  border-color: #C2C2C2;
  background-image: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.btn-default:hover{  
  border-color: #193B6B;
  color: #193B6B;
  background-color: #fff
}

.page-header{
  margin: 0px 0 20px;
}
.page-title{
  margin: 14px 0 19px;
  font-weight: bold;
  font-size: 1.3em;
}
.single-format-standard article.post{
  margin-top: 10px;
}

a.help span,
div.help span{
  width: 30px;
  height: 25px;
  float: left;
  background-repeat: no-repeat;
}
div.help{
  width: 100%;
  float: left;
  padding: 6px 0 0;
  text-decoration: none;
  cursor: pointer;
}
.help-i-h{
  background-image: url("images/help.png");
  background-position: 5px -1px;
  background-size: 20px 20px;
}
.help-i-g{
  background-image: url("images/ges.png");
  background-size: 23px 23px;
  background-position: 4px -1px;
  margin-top: -2px;
}
.help-i-n{
  background-image: url("images/fi-ops.png");
  background-position: 4px -2px;
  background-size: 23px 22px;
}
.help-i-i{
  background-image: url("images/more-info.png");
  background-size: 20px 20px;
  background-position: 5px -1px;
}




/* video galery */

.intro{
  margin-left: 0px;
  font-weight: bolder;
  color: #555;
  font-family: "NeoTech-Regular";
  text-align: left;
  vertical-align: bottom;
  background-size: 6px 22px;
  padding-top: 9px;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.tabbable ul.nav{
  margin: 0px;
}


.tab-pane p{
  margin: 10px 16px;
}

.sub-active{
  background: #002D67 !important;
}

.video iframe{
  width: 94%;
  margin: 1px 3%;
  height: 383px;
}
.tabbable header{
  z-index: 9;
  position: relative;
}

.tabbable header ul.nav{
  margin-top: 6px;
  border-bottom: 6px solid #CCC;
}

.tabbable header li{
  display: inline-block;
  font-size: 13px;
  margin: -3px 6px 0 6px;
  width: 78px;
  border-bottom: 3px solid #CCC;
}
.tabbable header li:first-child{
  margin-left: 0px;
}
.tabbable header li:hover{
  border-bottom: 3px solid #5B5B5F;
}
.tabbable header li.active:hover {
 border-bottom: 3px solid #002D67;
}
.tabbable header li a{
  font-size: 15px;
  line-height: 6px;
  text-align: center;
  width: 100%;
}

.tabbable header li a:hover{ 
  border-radius: 5px;
}

.tabbable header li a.active{
  color: rgb(96, 193, 207);
}

.description .tab-content {
  margin-left: 0 !important;
  padding-top: 7px;
}

#tab4 .description p{
  margin-left: 2% !important;
  width: 96% !important; 
}


#instances-video, #o-storage-video{
  display: none;
}

.corner-top {
  width: 0;
  height: 0;
  line-height: 0;
  border-right: 41px solid rgba(0, 0, 0, 0);
  border-bottom: 23px solid #D3D0D0;
  bottom: 65%;
  right: 0;
  position: absolute;
}

section.tabbable{
  width: 100%;
  height: 292px;
  float: left;
  margin-top: 6px;
  margin-bottom: 2px;
}

.nav-tabs, .nav-tabs li a, .nav-tabs > .active > a, .nav-tabs > .active > a:hover  {
  border:none;
}

.tab-content{
  overflow: visible;
}

.tab-content .video{
  background-color: #242525;
  margin: 0px;
  clear: both;
}

.description{
  background-color: rgba(152, 152, 152, 0.15);
  color: #555;
  margin: 0 0 40px;
  overflow: auto;
  position: relative;
  border: 1px solid rgba(152, 152, 152, 0.2);
  padding: 9px 10px 10px;
  border-top: 3px solid #CCC;
}
.nav-justified>li>a {
  padding: 3px;
  color: #666;
}
.nav-justified>li>a:hover {
  padding: 3px;
  background-color: #f8f8f8;
}
.nav-justified>li{
  background: #F4F4F4;
  padding: 0px;
  font-size: 13px;
}
.nav-justified>li:hover{
  background: #F8F8F8;
}
.nav-justified>li.active {
  box-shadow: none;
  background-image: none;
  padding: 0px 12px;
}
.nav-justified>li.active{
  background-color: #fff;
  border: 1px solid #193B6B;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #193B6B;
  background-color: #fff;
}
.tabbable .description li ol{
  margin: 8px 0 0 10px;
}

.tabbable .description li ol li{
  margin: 6px 0 0 10px;
}

.tabbable header ol a{
  cursor: hand;
}

.tabbable header ol a.disabled{
  color:#ADADAD;
}

.tabbable header ol a.on{
  color:#60C1CF;
}

.description li img{
  background-color: red;
  width: 90%;
  height: 210px;
}

.tabbable h4{
  bottom: -1px;
  color: #c9c9c9;
  float: right;
  position: absolute;
  right: 0;
}
.tabbable h4:hover{
  cursor: pointer;
  color: #666;
}
.carousel-indicators{
  margin-top: 13px;
  font-size: 32px;
}
#main-column{
  margin-top: 5px;
}
.single-post #main-column{
  margin-top: 23px;
}
@media (max-width: 422px) {
  .tabbable header li {
    display: block;
    width: 100%;
    margin-top: 6px;
    margin-left: 0;
  }
  .tabbable header li:first-child {
    margin-top: 6px;
  }
}

@media (min-width: 500px) and (max-width: 991px) {
  .panel-bk-orange,
  .panel-bk-blue-d{
    float: right !important;
  }  
  .textwidget .panel{
    width: 48%;
    float: left;
  }
}

@media (max-width: 991px) {
  #blog{
    margin-bottom: 42px;
  }
  .request button {
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 14px;
  }
  .panel-social{
    width: 100% !important;
  }
  aside{
    margin-top: 0;
  }
  #main-column{
    margin-top: 0;
  }
  .panel-social{
    margin-bottom: 40px;
  }
  .tabbable h4{
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .video iframe{
    height: 220px;
  }
  #main-column, #sidebar-right{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .posted-on a{
    left: 0px !important;
  }
}

@media (min-width: 600px) and (max-width: 809px) {
  .video iframe{
    height: 380px;
  }
}
@media (min-width: 810px) and (max-width: 991px) {
  .video iframe{
    height: 440px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .video iframe{
    height: 414px;
  }
}
@media (min-width: 1200px) {
  .video iframe{
    height: 480px;
  }
}
/* end video galery */


#atlwdg-frame{margin: 0 !important;}


.posted-on a{
  background-color: #00D3DE;
  color: #FFF !important;
  padding: 10px 19px 6px;
  position: absolute;
  left: 15px;
  width: 86px;
  text-align: center;
  margin-top: -54px;
  font-size: 15px;
  text-decoration: none;
}

.entry-content{
  margin-top: 17px;
}
.posted-on{
  margin-left: 95px;
}
.entry-title {
  margin-left: 95px;
  border-bottom: 1px solid #A9A9A9;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.entry-title a:hover {
  text-decoration: none;
}
.entry-title a,
.entry-date{
  font-family: "NeoTechRegular";
}
time.entry-date.published {
  width: 50px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-style: normal;
}
time.entry-date.published span{
  display: block;
}
time.entry-date.published span:last-child{
  font-size: 19px;
}




/* COOKIES BANNER */

#cookie-law { 
  background: rgba(44,44,44,0.9);
  position: absolute;
  z-index: 1040;
  bottom: 0;
  left: 0;
}
 
#cookie-law p { 
  color: white;
  padding: 10px;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  margin: 0;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0;
}

#cookie-law a { 
  color: white;
  font-weight: bold;
}

#close-cookie-banner {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
} 

/*Modal*/

#my_mo_modal{
  top: 0 !important;
}
#my_mo_modal .btn-link{
  padding: 0;
}

/*Posts*/

time.entry-date.published {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
